@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

:root {
  --main-style : #3781ed;
  --main-color: #f2f8f5;
  --shadow : 0px 0px 50px 0 var(--shadow-color);
  --shadow-color: rgba(41, 41, 41, 0.3);
  --border-style-graphique : 1px var(--main-style) solid;
}

body {
  background-color: white;

  & > h1 {
    text-align: center;
    margin-bottom: 50px   ;
  }
}

#histogramme {
  --taille-graphique : 800px;
  background-color : var(--main-color);
  box-shadow: var(--shadow);
  border-radius: 12px;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 65px;
  grid-template-rows: 8fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;

  #graduationOrd {
    grid-area: 1 / 1 / 2 / 2;
    border-top-left-radius: 12px;
    border-bottom: var(--border-style-graphique);
    border-right: var(--border-style-graphique);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 550;


    & > div {
      &:first-of-type:after,&:last-of-type:after {
        content: none;
      }
      &:after {
        content: '';
        position: absolute;
        background-color: var(--main-style);
        width: var(--taille-graphique);
        height: 1px;
        margin-top: 11px;
        margin-left: 2px;
        animation: agrandissementWidth 3s;
        @keyframes agrandissementWidth {
          from { width: 0}
          to { width: var(--taille-graphique)}
        }
      }
    }
  }


  #caseVide {
    grid-area: 2 / 1 / 2 / 2;
    border-top: var(--border-style-graphique);
    border-right: var(--border-style-graphique);
  }

  #graphique {
    grid-area: 1 / 2 / 2 / 3;
    border-top-right-radius: 12px;
    border-left: var(--border-style-graphique);
    border-bottom: var(--border-style-graphique);
    display : flex;
    align-items: flex-end;
    z-index: 2;
    padding-right: 20px;
    padding-left: 20px;

    & > div {
      --hauteur : 0;
      transition: height 1s;
      animation: agrandissementHeight 2s;
      @keyframes agrandissementHeight {
        from { height: 0}
        to { height: var(--hauteur)}
      }
      &:nth-child(n + 1) {
        background-color: #4b4bd2;
      }

      &:nth-child(2n) {
        background-color: #66b4e4;
      }
    }

  }
}

  #graduationAbs {
    grid-area: 2 / 2 / 3 / 3;
    border-bottom-right-radius: 12px;
    border-top: var(--border-style-graphique);
    border-left: var(--border-style-graphique);
    padding-right: 20px;
    padding-left: 15px;
    font-size: 20px;

    display: flex;
  }

#formDonnee {

  border-radius: 12px;
  background-color : var(--main-style);
  border-collapse : separate;
  border-spacing : 1px;
  box-shadow: inset 0 0 0 5px #FFFFFF, var(--shadow);


  font-size: 18px;
  & td {
    padding: 8px;
    padding-right: 10px;
    text-align: center;
    background-color: white;
    border : 1px solid white;
    border-radius: 2px;
    & > input {
      width: 100px;
      height: 100%;
      text-align: center;
      border: none;
      border-radius: 5px;
      font-size: 18px;
      box-shadow: 0 0 17px 9px rgba(158,158,158,0.20);
      &:focus {
        outline: none;
      }
      &[type=number]{
        text-indent: 15px ;
      }
    }

  }
  //Gestion coin tableau
  & > thead {
    & td:first-of-type {
      border-top-left-radius: 12px;
    }
    & td:last-of-type {
      border-top-right-radius: 12px;
    }
  }
  & > tbody tr:last-of-type {
    & td:first-of-type {
      border-bottom-left-radius: 12px;
    }
    & td:last-of-type {
      border-bottom-right-radius: 12px;
    }
  }
}


.container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  & > .bouton {
    text-align: center;
    font-size: 18px;
    border-radius: 12px;
    margin-left: 5px;
    box-shadow: var(--shadow),inset 0 0 17px 2px rgba(158,158,158,0.20);
    background-color: white;
    width: 170px;
    padding: 2px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-of-type {
      margin-right: 10px;
    }
  }
}

